body {
  padding: 200px;
  background: rgb(12, 59, 78);
}
.editbox1 {
  width: 330px;
  padding: 30px;
  margin-left: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
}
.editbox1 input[type="text"],
input[type="password"],
input[type="email"] {
  background: none;
  display: block;
  margin: 5px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
}
.editbox1 input[type="text"]:focus,
.editbox1 input[type="password"]:focus,
.editbox1 input[type="email"]:focus {
  width: 280px;
  border-color: #2ecc71;
}
.btn {
  color: rgb(224, 13, 59);
  font-size: 15px;
  border: 3px solid #0ff;
  border-radius: 100px;
  padding: 1rem 2rem;
  cursor: pointer;
  width: 80%;
}
.btn:hover {
  background: rgb(8, 233, 233);
  box-shadow: 0 5px 50px 0 rgb(8, 233, 233) inset, 0 5px 50px 0 rgb(8, 233, 233),
    0 5px 50px 0 #0ff inset, 0 5px 50px 0 #0ff;
}
.foto1 {
  margin-right: 20px;
  width: 50%;
}
.vija1 {
  border-left: 2px solid black;
  height: 350px;
  position: absolute;
  margin-left: 500px;
  margin-top: -360px;
}
.imgcontainer {
  border: 1px #cccccc solid;
  padding: 90px;
}
figcaption {
  background-color: black;
  color: white;
  width: 385px;
  font-style: italic;
  padding: 3px;
  text-align: center;
}
