body {
  padding: 200px;
  background-image: url(../figura/shkll.jpg);
  background-position: center;
  background-size: cover;
  font-family: sans-serif;
}
.tab {
  width: 330px;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
}
select {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 9px 10px;
  width: 230px;
  border-radius: 24px;
}

select:focus {
  width: 280px;
  border-color: #2ecc71;
}
.container input[type="text"],
.container input[type="password"] {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 9px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
}
.container input[type="text"]:focus,
.container input[type="password"]:focus {
  width: 280px;
  border-color: #2ecc71;
}

.logo {
  width: 50%;
  border-radius: 50%;
}
.btn {
  font-size: 12px;
  border: 3px solid rgb(220, 20, 60);
  color: red;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  padding: 1rem 2rem;
  cursor: pointer;
  width: 80%;
  text-align: center;
}
.btn:hover {
  background: #0ff;
  box-shadow: 0 5px 50px 0 #0ff inset, 0 5px 50px 0 #0ff,
    0 5px 50px 0 #0ff inset, 0 5px 50px 0 #0ff;
}
