body {
  padding: 200px;
  background: rgb(12, 59, 78);
}

h1 {
  color: red;
  padding: 0 0 20px;
  text-align: center;
  font-size: 25px;
}
a {
  text-decoration: inherit;
}

.btn {
  font-size: 15px;
  border: 1px solid rgb(230, 16, 44);
  border-radius: 100px;
  padding: 1rem 1rem;
  cursor: pointer;
}
.btn:hover {
  background: #0ff;
  box-shadow: 0 5px 50px 0 #0ff inset, 0 5px 50px 0 #0ff,
    0 5px 50px 0 #0ff inset, 0 5px 50px 0 #0ff;
}
.admin {
  margin-right: 20px;
  width: 50%;
}
.imgcontainer {
  border: 1px #cccccc solid;
  padding: 40px;
}
figcaption {
  background-color: black;
  color: white;

  font-style: italic;
  padding: 4px;
  text-align: center;
}
